:root{
    --cor-primaria: #1B4436;
    --cor-secundaria: #50AA5A;
    --cor-terciaria: #FFFFFF;
}

.box {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.box-imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img{
    border: 1px solid #50AA5A;
    border-radius: 20px 20px 0px 0px;

}
.box-imagem p {
    font-family: 'Quicksand';
    width: 390px;
    margin-top: 10px;
    font-size: 1em;
}